footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
.card {
    width: 80%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
.card:hover {
    transform: translateY(-7px);
}

.navbar{
    background-color: black !important;
   
  }
.nav-link {
    color: #fff !important;
    font-weight:lighter;
    transition: transform 0.3s ease-in-out;
  }
  .nav-link:hover{
    transform: translateY(-7px);
  }

  .navbar a.active {
    background-color: #333;
    color: #fff;
    
  }

  .my-col {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  .my-col:hover{
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
  }
.logo{
    width:auto;
    height: 80px;
    transition: transform 0.3s ease-in-out;
 }
 .logo:hover {
    transform: scale(1.2);
  }