* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.separator {
  border-top: 1px solid #e3e3e357;
  margin: 3px;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #142B39;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: linear-gradient(rgba(0, 0, 0, 0.938), transparent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover {
  color: rgb(133, 160, 242, 95);
}

.heading span{
  align-items: center;
  color: rgb(133, 160, 242, 95);
}

.Home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(../sidneyjunio/img/background.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;

}

.home-content h3 span {
  color: rgb(133, 160, 242, 95);
}

.home-content h1 {
  font-size: 56px;
  font-weight: 600;
  margin: -3px 0;

}

.home-content p {
  font-size: 20px;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(133, 160, 242, 95);
  border-radius: 50%;
  font-size: 20px;
  color: rgb(133, 160, 242, 95);
  text-decoration: none;
  margin: 30px 15px 30px 0;
}

.home-sci a:hover {
  background-color: rgb(133, 160, 242, 95);
  color: #000;
  box-shadow: 0 0 20px rgb(133, 160, 242, 95);
}

.btn-more {
  display: inline-block;
  padding: 12px 28px;
  background: rgb(133, 160, 242, 95);
  border-radius: 40px;
  font-size: 16px;
  color: #000;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
}

.btn-more:hover {
  box-shadow: 0 0 5px rgb(133, 160, 242, 95),
    0 0 25px rgb(133, 160, 242, 95), 0 0 50px rgb(133, 160, 242, 95),
    0 0 100px rgb(133, 160, 242, 95), 0 0 200px rgb(133, 160, 242, 95)
}

#about {
  background: linear-gradient(40deg, #060D13, #142B39);
  padding: 80px;
  color: #e3e3e3;
}



.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: rgb(133, 160, 242, 95);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: rgb(133, 160, 242, 95);
  font-size: 14px;
  font-weight: bold;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;

}

#logo {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease-in-out;
}

#logo:hover {
  transform: scale(1.2);
}

.services h2{
  text-align: center;
  margin-bottom: 5rem;
}

.services-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.services-content .services-box{
  flex: 1 1 30rem;
  background-color: #143d57;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: .1rem solid #00000057;
}

.heading {
  font-size: 4.5rem;
}