/* Home Section */

.Home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(../img/background.png) no-repeat;  
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
  }
  .home-content {
    max-width: 600px;
  }
  
  .home-content h3 {
    font-size: 32px;
    font-weight: 700;
  }
  
  .home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
  
  }
  
  .home-content h3 span {
    color: rgb(133, 160, 242, 95);
  }
  
  .home-content h1 {
    font-size: 56px;
    font-weight: 600;
    margin: -3px 0;
  
  }
  
  .home-content p {
    font-size: 20px;
  }
  
  .home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(133, 160, 242, 95);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(133, 160, 242, 95);
    text-decoration: none;
    margin: 30px 15px 30px 0;
  }
  
  .home-sci a:hover {
    background-color: rgb(133, 160, 242, 95);
    color: #000;
    box-shadow: 0 0 20px rgb(133, 160, 242, 95);
  }
  