/* Navbar Styling */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: linear-gradient(rgba(0, 0, 0, 0.938), transparent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav-bar .logo img {
  width: 50px;
  height: auto;
}

/* Navbar */
.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-bar ul li {
  position: relative;
}

.nav-bar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 5px; /* Espaçamento extra para a linha */
  position: relative;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-bar ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: rgb(133, 160, 242, 95); /* Linha azul */
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease; /* Transição suave */
}

.nav-bar ul li a.active-link::after,
.nav-bar ul li a:hover::after {
  width: 100%; /* Linha completa para o item ativo e no hover */
}

/* Botões de idioma */
.language-switch {
  display: flex;
  gap: 10px; /* Espaço entre os botões */
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.lang-btn {
  background-color: transparent;
  color: #15AAFF;
  border: 1px solid #15AAFF;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lang-btn:hover {
  background-color: #15AAFF;
  color: #fff;
  box-shadow: 0px 4px 10px rgba(21, 170, 255, 0.3);
}

.lang-btn.active {
  background-color: #15AAFF;
  color: #fff;
  border: none;
  box-shadow: 0px 4px 12px rgba(21, 170, 255, 0.5);
}
/* Animação de fade */
.fade-enter {
  opacity: 0;
  transform: translateY(20px); /* Leve movimento para baixo */
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 1500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-20px); /* Leve movimento para cima */
  transition: opacity 500ms, transform 500ms;
}
